:root {
    --welcome-background: #0f0e17;
    --welcome-text: #fffffe;
    --welcome-text2: #fffa95;
    --nav-background: #f25f4c;
    --tertiary: #e53170;
    --highlight: #ff8906;
    --optional: #a7a9be;
  }
  
  *, ::before, ::after {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
  }
  
  #navbar {
    background-color: var(--nav-background);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  #header-img {
    width: 200px;
    height: auto;
    padding: 15px;
  }
  
  #nav-bar {
    float: right;
    padding: 0 auto;
    margin-top: -50px;
  }
  
  nav > .nav-link {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--welcome-text);
    margin: 10px 10px 10px 10px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .nav-link:hover {
    background-color: var(--welcome-text);
    color: black;
    transition: background-color 0.25s ease-in;
  }
  
  #welcome-section {
    background-color: var(--welcome-background);
    color: var(--welcome-text);
    height: 90vh;
    margin-top: 95px;
    text-align: center;
  }
  
  .about-me {
    position: relative;
    top: 350px;
  }
  
  .name {
    color: var(--optional);
    font-size: 2rem;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .intro {
    font-family: "Zilla Slab", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  #projects-heading {
    margin: 50px auto;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  hr {
    border: 2px solid var(--nav-background);
    margin-top: 2px;
  }
  
  #projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
  }
  
  .project-tile {
    border: 1px solid #ef382a;
    border-radius: 20px;
    text-align: center;
    min-width: fit-content;
    min-height: fit-content;
    margin-bottom: 50px;
    box-shadow: 0 0 10px 0;
  }
  
  .project-img {
    border-radius: 20px 20px 0 0;
    width: 40vw;
    height: 22vw;
  }
  
  .heading {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    padding: 10px 0;  
    margin-top: -3px;
  }
  
  .heading:hover {
    background-color: var(--nav-background);
    border-radius: 0 0 19px 19px;   
    transition: background-color 0.3s ease-in;
  }
  
  a {
    text-decoration: none;
    color: #0f0e17;
  }
  
  #projects .project-tile span {
    opacity: 0%;
    padding: 0 5px;
  }
  
  #projects .project-tile:hover span {
    opacity: 100%;
    color: var(--welcome-text);
    transition: opacity 0.25s ease-in;
  }
  
  #profile-link {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: "Bebas Neue", sans-serif;
    width: max-content;
    display: flex;
    align-items: center;
    background-color: var(--welcome-background);
    color: var(--welcome-text);
    margin-bottom: 40px;
    padding: 5px 15px;
  }
  
  #profile-link:hover {
    background-color: var(--nav-background);
    color: var(--welcome-background);
    transition: background-color 0.2s ease-in;
    transition: color 0.2s ease-in;
  }
  
  #contact {
    height: 550px;
    width: auto;
    border: 1px solid var(--welcome-background);
    background-color: var(--welcome-background);
    color: var(--welcome-text);
    text-align: center;
  }
  
  #contact #social-heading {
    margin-top: 200px;
    font-size: 2rem;
    color: var(--optional);
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  #contact #social-p {
    font-family: "Zilla Slab", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  #contact .social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
  }
  
  #contact .social-media {
    color: var(--welcome-text);
    transition: transform 0.3s ease-in;
  }
  
  #contact .social-media:hover {
    transform: translateY(10px);
    color: var(--optional);
  }
  
  #contact p {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  footer {
    border-top: 4px solid var(--nav-background);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: var(--welcome-background);
    font-family: "Zilla Slab", serif;
    font-weight: 300;
    font-style: normal;
  } 
  
  #fcc-link {
    color: white;
  }
  
  #fcc-link:hover {
    color: var(--highlight);
  }
  
  @media only screen and (max-width: 750px) {
    #header {
      background-color: var(--nav-background);
      height: 120px;
    }
  
    #header-img {
      display: flex;
      justify-content: center;
      position: relative;
      width: 170px;
      height: auto;
      padding: 15px;
    }
  
    nav > .nav-link {
      font-family: "Bebas Neue", sans-serif;
      font-size: 1rem;
      text-decoration: none;
      color: var(--welcome-text);
      border-radius: 10px;
      padding: 5px;
      margin-top: 20px;
    }
    
    #nav-bar {
      margin-top: -25px;
      float: none;
      display: flex;
      justify-content: center;
      gap: 25px;
    }
  
    #welcome-section {
      background-color: var(--welcome-background);
      color: var(--welcome-text);
      min-height: 100vh;
      padding-top: 120px;
    }
  
    #projects {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      padding: 0;
      margin: 0;
    }
  
    .project-tile {
      border: 1px solid #ef382a;
      border-radius: 20px;
      text-align: center;
      min-width: 300px;
      min-height: 200px;
      margin-bottom: 50px;
      box-shadow: 0 0 10px 0;
  }
  
    .project-img {
      border-radius: 20px 20px 0 0;
      min-width: 300px;
      min-height: 170px;
  }
  
    .p1 {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    .p2 {
      margin-bottom: 20px;
    }
  
    .p3 {
      margin-bottom: 20px;
    }
  }